from random import randint
print("=============jogo de matemática============\npreencha a fixa")
nome = input('seu nome é:')
idade = input('sua idade é:')
print ('bom vamos começar!!!\n..... bem simples em')
a = int(randint(1,100))
b = int(randint(1,100))
c = int(randint(1,10))
placar = 0
soma =int(a+b)
mult = int(a*b)
div = int(a/b)
sub = int(a-b)
soma3 = int(a+b+c)
q1 = print('quanto é:',a,'+',b,'=')
r1 =int(input())
if r1 == soma:
    print('você acertou!!, próxima...')
    placar + 1
else:
   print('você errou!! era =',soma,',próxima...')
q2 = print('quanto é:',a,'X',b,'=')
r2 = int(input())
if r2 == mult:
    print('você acertou!!, próxima...')
    placar + 1
else:
    print('você errou!! era =',mult,'próxima...')
q3 = print("quanto é:",a,'/',b,"=")
r3 = int(input())
if r3 == div:
    print('você acertou!!, próxima...')
    placar + 1
else:
    print('você errou!! era =', div, 'próxima...')
q4 = print('quanto é',a,'-',b,'=')
r4 = int(input())
if r4 == sub:
    print('você acertou!!, próxima...')
    placar + 1
else:
    print('você errou!! era =', sub, 'próxima...')
q5 = print('quanto é',a,'+',b,'+',c)
r5 = int(input())
if r5 == soma3:
    print('você acertou!!, então...')
    placar + 1
else:
    print('você errou!! era =', soma3, 'próxima...')
if placar > 3:
    print('parabéns,', nome, 'você chegou no final do game,seu placar foi', placar,
          'e sua idade mental se iguala a sua idade de', idade,'anos')
elif placar < 3:
    print('parabéns,', nome, 'você chegou no final do game,seu placar foi', placar,
          'e sua idade mental NÃO se iguala a sua idade de', idade,'anos')

















